{% extends 'base.html' %}


{% block title %}

{% endblock %}


{% block body %}
<div style="text-align: center;">
    <h2 style="color: orange;">About Box-N1</h2>
    <h8 STYLE="color: red;">You can buy 8 Items in 1 Box in The MIX-BOX-SALE at a Bargain Price🔝🔥</h8>
</div>

<div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
        <div class="col">
          <div class="card shadow-sm" style="max-width: 300px;">
<!--            <svg class="bd-placeholder-img card-img-top" width="10%" height="10" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect></svg>-->
              <img src="/static/photo/box1/product1.jpg" style="width: 100%; height: auto;" alt="Box image" onclick="openModal(event)" data-index="0">
              <div class="card-body">
              <p class="card-text">Metal brass knuckles 👊🏽</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
                  <button type="button" class="btn btn-sm btn-outline-secondary">view details</button>
                </div>
                <small class="text-body-secondary">1 pc in the box</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
<!--            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
              <img src="/static/photo/box1/product2.jpg" style="width: 100%; height: auto;" alt="Box image" onclick="openModal(event)" data-index="1">

              <div class="card-body">
              <p class="card-text">Wireless charging for cars</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
                  <button type="button" class="btn btn-sm btn-outline-secondary">view details</button>
                </div>
                <small class="text-body-secondary">1 pc in the box</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/photo/box1/product3.jpg" style="width: 100%; height: auto;" alt="Box image" onclick="openModal(event)" data-index="2">
            <div class="card-body">
              <p class="card-text">GPS Tracker (Apple Find My)🔝🔥</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
                  <button type="button" class="btn btn-sm btn-outline-secondary">view details</button>
                </div>
                <small class="text-body-secondary">1 pc in the box</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="/static/photo/box1/product4.jpg" style="width: 100%; height: auto;" alt="Box image" onclick="openModal(event)" data-index="3">
            <div class="card-body">
              <p class="card-text">Car glasses holder👓🕶️</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
                  <button type="button" class="btn btn-sm btn-outline-secondary">view details</button>
                </div>
                <small class="text-body-secondary">1 pc in the box</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
<!--            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
              <img src="/static/photo/box1/product5.jpg" style="width: 100%; height: auto;" alt="Box image" onclick="openModal(event)" data-index="4">

              <div class="card-body">
              <p class="card-text">Butterfly knife🗡️</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
                  <button type="button" class="btn btn-sm btn-outline-secondary">view details</button>
                </div>
                <small class="text-body-secondary">1 pc in the box</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
<!--            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
              <img src="/static/photo/box1/product6.jpg" style="width: 100%; height: auto;" alt="Box image" onclick="openModal(event)" data-index="5">

              <div class="card-body">
              <p class="card-text">Dollar clip 💵</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
                  <button type="button" class="btn btn-sm btn-outline-secondary">view details</button>
                </div>
                <small class="text-body-secondary">1 pc in the box</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
<!--            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
              <img src="/static/photo/box1/product7.jpg" style="width: 100%; height: auto;" alt="Box image" onclick="openModal(event)" data-index="6">

              <div class="card-body">
              <p class="card-text">Pepper spray🆘</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
                  <button type="button" class="btn btn-sm btn-outline-secondary">view details</button>
                </div>
                <small class="text-body-secondary">1 pc in the box</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
<!--            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
              <img src="/static/photo/box1/product8.jpg" style="width: 100%; height: auto;" alt="Box image" onclick="openModal(event)" data-index="7">

              <div class="card-body">
              <p class="card-text">Flashlight keychain🔦</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
<!--                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>-->
                  <button type="button" class="btn btn-sm btn-outline-secondary">view details</button>
                </div>
                <small class="text-body-secondary">1 pc in the box</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div style="text-align: center;">
    <h8 STYLE="color: red;">Order today and receive tomorrow</h8>
</div>
{% endblock %}
